 body{
     width:768px; 
    margin:0 auto;
    }
    
    #addr{

        font-size: 21px;
        margin-bottom: 0px ;
        margin-right:18px;
    
    }
    
    #name{
        margin-bottom: 0px;
    
    
    }
    .E-mail{
        margin-left: 47px;
        font-size: 18px;
    }
    .Mobile{
        font-size: 18px;
    
    }
    nav{
        background-color:#3498db;
        
    }
    

nav a{
    
    padding:14px; 
    color: black;
}
.p-0{
    margin-block-start: inherit;
    margin-right: -18px;
    top: -17px;
    border-color: black;
} 
.info_body{
    margin-left: 17px;

}
h3{

    margin-left: 14px;
    margin-bottom: -20px;
}

span{

    line-height: 24px;
    margin-left: 4px;
}
footer{
    margin-top: -21px;
    margin-left: -4px;
    padding: 0px;
   
}
.m-1{
    background-color: #3498db;
}
#declare_text{
    margin-left: 60px;
    letter-spacing: 1px;
}
