span{
    font-size: x-large;
    font-weight: bold;
    margin-left: 14px;
    margin-top: -8px;
}
table{
    margin-left: -16px;
}
thead,th{
    font-size: 14px;
    line-height: 8px;
}
td{

    line-height: normal;
    
}