






<div class="row"><span>Education Details:</span></div>
<div class="col-12 ">
    
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Qualification</th>
                    <th>Institute</th>
                    <th>Board/University</th>
                    <th>Percentage/GPA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>MCA</td>
                    <td>Computer Science Dept, SPPU.</td>
                    <td>Pune University</td>
                    <td>4.4 GPA</td>
                </tr>
                <tr>
                    <td>BCA</td>
                    <td>G.S College,khamgaon</td>
                    <td>Amravati University</td>
                    <td>59.07%</td>
                </tr>
                <tr>
                    <td>12th</td>
                    <td>THE NEW ERA JUNIOR COLLEGE,JALGAON(JAMOD)</td>
                    <td>HSC</td>
                    <td>52.00%</td>
                </tr>
                <tr>
                    <td>10th</td>
                    <td>THE NEW ERA HIGH SCHOOL , JALGAON(JAMOD)</td>
                    <td>SSC</td>
                    <td>71.09%</td>
                </tr>
            </tbody>
        </table>
    
</div>