<div class="font-weight-bold name">Internship:</div>
<div class="row" id="ex_lern">
    <b>Abuzz Webtech Pvt. Ltd. , Pune (25 th jun to 10 th dec 2019)
        Library Management System</b> <span>it is a web application for monitoring and controlling the
    transaction in library which mainly focuses on basic operations like adding new
    book,searching book information and book issue and return by student,staff,etc.
    In this project the all book stock and students circulation details can be maintain along
    with this the late fine who returns the book after due date also maintain.<br>
    Technology:HTML-5,css.<br>
    Language:Javascript,Jquery.<br>
    Database:mSQL
    </span>
</div>